@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: $azul-principal;
    text-align: center;
    padding: 30px 20px;
    margin-top: 40px;
    color: white;
}

.footer-redes a {
    color: white;
    transition: color 0.3s ease;
}

.footer-redes a:hover {
    color: #dce8f0;
}

.footer-redes i {
    font-size: 10rem;
    margin: 0 10px;
}

.footer-texto {
    font-size: 14px;
    opacity: 0.8;
    margin-top: 10px;
}