footer {
<<<<<<< HEAD
    background-color: $color-principal;
    color: $blanco;
    padding: 2rem 1rem;

    .footer-container {
        display: flex;
        justify-content: center;
        align-items: center;
=======
    background-color: $color-primario;
    color: $color-secundario;
    padding: 2rem 1rem;

    .footer-container {
        @include centrar-flex;
>>>>>>> 15b5675f6e89385ff2b9854531b93a34c93d362c
        flex-direction: column;
        text-align: center;
        gap: 1rem;

        p {
            font-size: 0.9rem;
        }

        .redes {
            display: flex;
            gap: 1rem;

            a {
<<<<<<< HEAD
                color: $blanco;
                font-size: 1.2rem;

                &:hover {
                    color: $color-secundario;
=======
                color: white;
                font-size: 1.2rem;

                &:hover {
                    color: white;
>>>>>>> 15b5675f6e89385ff2b9854531b93a34c93d362c
                }
            }
        }
    }

    @media screen and (min-width: 768px) {
        .footer-container {
            flex-direction: row;
            justify-content: space-between;
            text-align: left;
        }
    }
}