@media screen and (max-width: 768px) {
    .nav-bar {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    h2 {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 1.75rem;
        border-bottom: 2px solid $azul-principal;
    }

    .hero h2 {
        font-size: 1.5rem;
    }

    .card {
        width: 90%;
    }

    footer .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    footer .footer-container i {
        color: white;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    footer .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }
    footer .footer-container i {
        color: white;
    }
}